@charset "UTF-8";

body {
	
}

table {
	width: 500px;
	margin: auto;
}

img[name = "八索"] {
	display: block;
	margin: auto;
}

.title {
	font: normal 100%/100% "calibri";
	display: block;
	text-align: left;
	font-size: 70px;
}

.error_message {
	color: #ff4500;
	text-align: center;
}

.member_registration {
	display: block;
	text-align: right;
	color: #4169e1;
	text-decoration: underline;
}

input[type="id"], input[type="password"] {
	display: block;
	margin: 5px auto;
	width: 220px;
	height: 30px;
}

button[name="login"] {
	display: block;
	margin: 5px auto;
	color: #ffffff;
	width: 180px;
	height: 30px;
	border-radius: 10px;
	background-color: #64bbed;
}

.password_reset {
	display: block;
	margin: 20px auto;
	text-align: center;
	color: #ff1493;
	text-decoration: underline;
}