@charset "UTF-8";

.announcement {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    border: 2px #999999 solid;
    border-radius: 10px;
    scrollbar-width: thin;
}

td {
    border: none;
}

td[name="date"] {
    width: 100px;
}

td[name="text"] {
    width: auto;
}