@charset "UTF-8";

a {
	text-decoration: none;
	color: #111;
	display: flex;
	align-items: center;
}

img[name = "八索"] {
	width: 40px;
	height: 58px;
	display: inline;
}

.title {
	font: normal 10%/0% "calibri";
	display: inline;
	text-align: left;
	font-size: 30px;
	padding-left: 5px;
}

.header {
	background: #fff;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}

.header-inner {
	display: flex;
	align-items: center;
}

.inner {
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 40px;
}

.nav {
	margin-left: auto;
}
