header,footer {
    background-color: #eee;
  }
  
  .header,.footer,.nav {
    display: flex;
    justify-content: space-between;
  }
  
  .header,.footer {
    padding: 20px 0;
  }
  
  .nav li {
    padding: 10px;
    font-weight: bold;
  }
  
  .nav a:hover {
    color: #fff;
    transition: all 0.3s;
  }
  
  .content {
    height: 300px;
    padding: 20px 0;
  }
  
  footer p {
    padding: 30px 0;
    font-size: 10px;
    color: #aaa;
  }